<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Pet Profile</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<span th:text="${gradus}"></span>

</body>
</html>